html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#info {
    color: #888;
    padding: 0 15px 15px 15px;
    position: absolute;
    top: 10px;
	bottom: 40px;
    min-width: 230px;
    max-width: 250px;
    left: 10px;
    z-index: 5;
    background: #fff;
	overflow-y:auto;
	font-size:small;	
}

#info img {
	max-width: 230px;
}

#info p, #info h1, #info h2, #info h3 {
	width: 230px;
}

i.camera {
	width: 10px;
	height: 17px;
	background: url('./img/camera.png');
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: 0 6px;
	display: inline-block;
	margin-right: 3px;
}

table {
	font-size:x-small;
}
